body {
    font: 20px Arial, sans-serif;
}

.navbar {
    background-color: #298A08;
}

.quem-somos {
    background-color: #8181F7;
    color: white;
}

.margin {
    padding-top: 10px;
    padding-bottom: 50px;
}

.parceiros {
    background-color: #FE642E;
}

.bg-footer {
    background-color: black;
    color: white;
}